body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  display: flex;
}

li {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bde0fe;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-list a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.slideshow-container {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}

.slideshow {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide img {
  width: 100%;
  height: auto;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

.arrow-left {
  border: none;
  position: absolute;
  left: 0;
}

.arrow-right {
  border: none;
  position: absolute;
  right: 0;
}

.product-container h2{
  text-align: center;
}
