body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  display: flex;
}

li {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.4s;
}

.nav-list li a:hover {
  color: rgb(121, 204, 224);
}

.slideshow-container {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}

.slideshow {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide img {
  width: 100%;
  height: auto;
}

.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  
}

.arrow-right {
  position: relative;
  right: auto;
}
